<% active = local_assigns[:active] || :show %>

<ul class="nav nav-pills mb-3" id="tournament-main-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <%= link_to "Info",
                tournament_path(@tournament),
                class: "nav-link #{'active' if active == :show}" %>
  </li>
  <li class="nav-item" role="presentation">
    <%= link_to "Team",
                teams_tournament_path(@tournament),
                class: "nav-link #{'active' if active == :teams}" %>
  </li>
  <li class="nav-item" role="presentation">
    <%= link_to "Fixtures",
                fixture_tournament_path(@tournament),
                class: "nav-link #{'active' if active == :fixture}" %>
  </li>
  <li class="nav-item" role="presentation">
    <%= link_to "Table",
                table_tournament_path(@tournament),
                class: "nav-link #{'active' if active == :table}" %>
  </li>
</ul>
